# For the tutorials
numpy
scipy
pooch  # for scipy.datasets
matplotlib
pandas
imageio
# For supporting .md-based notebooks
jupytext
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
